<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Include.wxi ?>

  <Product Id="$(var.ProductCode)"
             Name="$(var.FullApplicationName)" Language="1033"
             Version="$(var.FloatingSandboxVersion)"
             Manufacturer="Gabriele Giuseppini" UpgradeCode="$(var.UpgradeCode)">

        <Package
            Comments="This package installs $(var.FullApplicationName) $(var.Platform) on your computer."
            Description="$(var.FullApplicationName)"
            Platform="$(var.Platform)"
            InstallerVersion="500"
            Compressed="yes"
            InstallScope="perUser"
            InstallPrivileges="limited" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of $(var.ShortApplicationName) is already installed." />

        <Icon Id="FsIcon.ico" SourceFile="..\FloatingSandbox\Resources\ShipAAA.ico" />
        <Property Id="ARPPRODUCTICON" Value="FsIcon.ico" />

        <Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />

        <Media Id='1' Cabinet='FloatingSandbox.cab' EmbedCab='yes' />

        <Directory Id="TARGETDIR" Name="SourceDir">

            <!-- TODO: see https://docs.microsoft.com/en-us/windows/win32/msi/single-package-authoring: use ProgramFilesFolder? -->
            <Directory Id="LocalAppDataFolder">

                <Directory Id="INSTALLFOLDER" Name="$(var.ShortApplicationName)">

                    <Component Id="RootDir_comp" Guid="EAB0458C-D3EC-44BE-9C6F-BEA5E7FD1E07">
                        <CreateFolder />
                        <RemoveFile Id="RemoveFilesFromRootDir" Name="*.*" On="uninstall" />
                        <RemoveFolder Id="RemoveRootDir" Directory="INSTALLFOLDER" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>

                    <Component Id="FloatingSandboxExe_comp" Guid="861CEF76-5773-4736-A6D4-C6CB50112C3A" Win64="$(var.IsWin64)">
                        <File Id="FloatingSandboxExe" Source="$(var.SourceInstallFolderPath)\FloatingSandbox.exe" KeyPath="no" />
                        <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                        <ProgId Id='FloatingSandbox.shp2file' Description='Floating Sandbox Ship' Icon='FloatingSandboxExe' IconIndex='1'>
                          <Extension Id='shp2' ContentType='application/x-floatingsandbox'>
                            <Verb Id='open' Command='Open' TargetFile='FloatingSandboxExe' Argument='"%1"' />
                          </Extension>
                        </ProgId>
                    </Component>

                    <Component Id="ShipBuilderExe_comp" Guid="86F1FADB-D666-41B0-839B-033BACD782C0" Win64="$(var.IsWin64)">
                      <File Id="ShipBuilderExe" Source="$(var.SourceInstallFolderPath)\ShipBuilder.exe" KeyPath="no" />
                      <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>

                    <Component Id="RuntimeBinaries_comp" Guid="E6862ECF-0527-478C-B756-E66E2B493474" Win64="$(var.IsWin64)">
                        <File Source="$(var.SourceInstallFolderPath)\openal32.dll" Id="openal32dll" />
                        <File Source="$(var.SourceInstallFolderPath)\sfml-audio-2.dll" Id="sfmlaudio2dll" />
                        <File Source="$(var.SourceInstallFolderPath)\sfml-network-2.dll" Id="sfmlnetwork2dll" />
                        <File Source="$(var.SourceInstallFolderPath)\sfml-system-2.dll" Id="sfmlsystem2dll" />
                        <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>

                    <Component Id="MiscFiles_comp" Guid="5B791D70-CD49-44A1-B503-14096A74206D">
                        <File Source="$(var.SourceInstallFolderPath)\README.md" Id="READMEmd" />
                        <File Source="$(var.SourceInstallFolderPath)\changes.txt" Id="changestxt" />
                        <File Source="$(var.SourceInstallFolderPath)\license.txt" Id="licensetxt" />
                        <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>

                    <Directory Id="DataDir" Name="Data">
                        <Component Id="DataDir_comp" Guid="9BA20495-296D-4555-BFB8-5C6AB66AC965">
                            <RemoveFolder Id="DataDirRemoval" Directory="DataDir" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                        </Component>
                    </Directory>

                    <Directory Id="GuidesDir" Name="Guides">
                        <Component Id="GuidesDir_comp" Guid="2A5A85BA-E1E0-4008-ADCF-E796E639E510">
                            <RemoveFolder Id="GuidesDirRemoval" Directory="GuidesDir" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                        </Component>
                    </Directory>

                    <Directory Id="ShipsDir" Name="Ships">
                        <Component Id="ShipsDir_comp" Guid="5DE0B9D5-322B-412F-A174-D673E2A54FDD">
                            <CreateFolder />
                            <RemoveFile Id="DefaultShipFSDBFileRemoval" Name=".floatingsandbox_shipdb" On="both" />
                            <RemoveFolder Id="ShipsDirRemoval" Directory="ShipsDir" On="uninstall" />
                            <!-- We're not clearing the folder anymore, but this will be when upgrading from 1.13.0 onwards
                            <RemoveFile Id="RemoveFilesFromShipsDir" Name="*.*" On="uninstall" />
                            -->
                            <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                        </Component>
                    </Directory>

                </Directory>

            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="FloatingSandboxDesktopShortcut_comp" Guid="1A90694D-7112-4E97-B18D-372AEE93B350">
                    <Shortcut Id="FloatingSandboxDesktopShortcut"
                        Name="$(var.FullApplicationName)"
                        Description="$(var.FullApplicationName)"
                        Target="[#FloatingSandboxExe]"
                        WorkingDirectory="INSTALLFOLDER" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="FloatingSandboxProgramMenuFolder" Name="$(var.FullApplicationName)">
                    <Component Id="FloatingSandboxProgramMenuShortcut_comp" Guid="CEAF3E78-384A-48BC-AC0B-4702C493BAD2">
                        <Shortcut Id="FloatingSandboxProgramMenuShortcut"
                                  Name="$(var.FullApplicationName)"
                                  Description="$(var.FullApplicationName)"
                                  Target="[#FloatingSandboxExe]"
                                  WorkingDirectory="INSTALLFOLDER" />
                        <RemoveFolder Id="CleanupFolder" Directory="FloatingSandboxProgramMenuFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="$(var.ProductRegistryKey)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

        </Directory>


        <Feature Id="ProductFeature" Title="FloatingSandbox" Level="1">
            <ComponentRef Id="RootDir_comp" />
            <ComponentRef Id="FloatingSandboxExe_comp" />
            <ComponentRef Id="ShipBuilderExe_comp" />
            <ComponentRef Id="RuntimeBinaries_comp" />
            <ComponentRef Id="MiscFiles_comp" />

            <ComponentRef Id="DataDir_comp" />
            <ComponentGroupRef Id="Data_generated_comp" />
            <ComponentRef Id="DataDir_children_removal_comp" />

            <ComponentRef Id="GuidesDir_comp" />
            <ComponentGroupRef Id="Guides_generated_comp" />
            <ComponentRef Id="GuidesDir_children_removal_comp" />

            <ComponentRef Id="ShipsDir_comp" />
            <ComponentGroupRef Id="Ships_generated_comp" />
            <ComponentRef Id="ShipsDir_children_removal_comp" />

            <ComponentRef Id="FloatingSandboxDesktopShortcut_comp" />
            <ComponentRef Id="FloatingSandboxProgramMenuShortcut_comp" />
        </Feature>


	    <UIRef Id="WixUI_ErrorProgressText" />
        <UIRef Id="FloatingSandboxUI" />


  </Product>

</Wix>