<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Include.wxi ?>

    <!-- Change at each release!!! -->
    <?define UpgradeCode = "00F7A957-943E-4AB6-AB52-92AD338CFA1E"?>

	<Product Id="B0947CCD-6ABE-494D-9E48-72FB6641645A"
             Name="$(var.FullApplicationName)" Language="1033"
             Version="$(var.FloatingSandboxVersion)"
             Manufacturer="Gabriele Giuseppini" UpgradeCode="$(var.UpgradeCode)">

        <Package
            Comments="This package installs Floating Sandbox $(var.FloatingSandboxVersion) on your computer."
            Description="$(var.FullApplicationName)"
            Platform="x64"
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <Icon Id="FsIcon.ico" SourceFile="..\FloatingSandbox\Resources\Ship.ico" />
        <Property Id="ARPPRODUCTICON" Value="FsIcon.ico" />

        <Media Id='1' Cabinet='FloatingSandbox.cab' EmbedCab='yes' />

        <Directory Id="TARGETDIR" Name="SourceDir">

            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="$(var.FullApplicationName)">

                    <Component Id="RootDir_comp" Guid="B6CAED5D-BC81-4530-98DE-CFEDC5ABD0BC">
                        <CreateFolder />
                        <RemoveFile Id="RemoveFilesFromRootDir" Name="*.*" On="uninstall" />
                    </Component>

                    <Component Id="FloatingSandboxExe_comp" Guid="391F6B0C-C946-4032-B215-EBB178730107" Win64="yes">
                        <File Id="FloatingSandboxExe" Source="$(var.SourceInstallFolderPath)\FloatingSandbox.exe" KeyPath="yes" />
                    </Component>

                    <Component Id="RuntimeBinaries_comp" Guid="77F0F0A0-7B10-4851-AAFA-E534D934CEAE" Win64="yes">
                        <File Source="$(var.SourceInstallFolderPath)\DevIL.dll" Id="DevILdll" KeyPath="yes" />
                        <File Source="$(var.SourceInstallFolderPath)\ILU.dll" Id="ILUdll" />
                        <File Source="$(var.SourceInstallFolderPath)\ILUT.dll" Id="ILUTdll" />
                        <File Source="$(var.SourceInstallFolderPath)\openal32.dll" Id="openal32dll" />
                        <File Source="$(var.SourceInstallFolderPath)\sfml-audio-2.dll" Id="sfmlaudio2dll" />
                        <File Source="$(var.SourceInstallFolderPath)\sfml-system-2.dll" Id="sfmlsystem2dll" />
                    </Component>

                    <Component Id="MiscFiles_comp" Guid="8A25B156-AE5C-4AC2-AD30-D995ECAC5417">
                        <File Source="$(var.SourceInstallFolderPath)\README.md" Id="READMEmd" KeyPath="yes" />
                        <File Source="$(var.SourceInstallFolderPath)\changes.txt" Id="changestxt" />
                        <File Source="$(var.SourceInstallFolderPath)\license.txt" Id="licensetxt" />
                    </Component>

                    <Directory Id="DataDir" Name="Data">
                    </Directory>

                    <!-- TODOTEST
                    <Directory Id="ShipsDir" Name="Ships">
                        <Component Id="ShipsDir_comp" Guid="203AA07F-B62C-4788-804E-068FC09AC4A3">
                            <CreateFolder />
                            <RemoveFile Id="RemoveFilesFromShipsDir" Name="*.*" On="uninstall" />
                        </Component>
                    </Directory>
                    -->

                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="FloatingSandboxDesktopShortcut_comp" Guid="BF8DBA16-B79B-4B27-9021-E7563C43340D">
                    <Shortcut Id="FloatingSandboxDesktopShortcut"
                        Name="$(var.FullApplicationName)"
                        Description="$(var.FullApplicationName)"
                        Target="[#FloatingSandboxExe]"
                        WorkingDirectory="INSTALLFOLDER" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue
                        Root="HKCU"
                        Key="Software/$(var.FullApplicationName)"
                        Name="installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
                </Component>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="FloatingSandboxProgramMenuFolder" Name="$(var.FullApplicationName)">
                    <Component Id="FloatingSandboxProgramMenuShortcut_comp" Guid="739A99F0-EE1E-4B7E-905B-A288D953499F">
                        <Shortcut Id="FloatingSandboxProgramMenuShortcut"
                                  Name="$(var.FullApplicationName)"
                                  Description="$(var.FullApplicationName)"
                                  Target="[#FloatingSandboxExe]"
                                  WorkingDirectory="INSTALLFOLDER" />
                        <RemoveFolder Id="CleanupFolder" Directory="FloatingSandboxProgramMenuFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\Gabriele Giuseppini\$(var.FullApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

        </Directory>


        <Feature Id="ProductFeature" Title="FloatingSandbox" Level="1">
            <ComponentRef Id="RootDir_comp" />
            <ComponentRef Id="FloatingSandboxExe_comp" />
            <ComponentRef Id="RuntimeBinaries_comp" />
            <ComponentRef Id="MiscFiles_comp" />
            <!-- todotest
			<ComponentGroupRef Id="Data_generated_comp" />
            <ComponentRef Id="ShipsDir_comp" />
            <ComponentGroupRef Id="Ships_generated_comp" />
            -->
            <ComponentRef Id="FloatingSandboxDesktopShortcut_comp" />
            <ComponentRef Id="FloatingSandboxProgramMenuShortcut_comp" />
		</Feature>



        <UIRef Id="FloatingSandboxUI" />


	</Product>
</Wix>