<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Include.wxi ?>

    <Fragment Id="WixSubUI">

        <Binary Id="FSBannerBitmap" SourceFile="Banner.bmp" />

        <Binary Id="InstallBmp" SourceFile="InstallButton.bmp" />
        <Property Id="InstallControlContent">InstallBmp</Property>

        <Binary Id="CancelBmp" SourceFile="CancelButton.bmp" />
        <Property Id="CancelControlContent">CancelBmp</Property>


        <UI Id="FloatingSandboxUI">


            <Dialog Id="FSStarterDlg" Width="370" Height="270" Title="Ready to install $(var.FullApplicationName)!" TrackDiskSpace="no">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="InstallText" Type="Text" X="25" Y="90" Width="320" Height="80" Hidden="no" Text="You are one click away from installing $(var.ShortApplicationName). Are you ready to go?" />
                <Control Id="Install" Type="PushButton" X="85" Y="110" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" Text="[InstallControlContent]">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="85" Y="190" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="FSProgressDlg" Width="370" Height="270" Title="Installing $(var.FullApplicationName)..." Modeless="yes">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />

                <Control Id="TextInstalling" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="no" NoPrefix="yes" Text="Please wait while $(var.FullApplicationName) gets installed..." />
                <Control Id="ActionText" Type="Text" X="70" Y="140" Width="285" Height="10">
                    <Subscribe Event="ActionText" Attribute="Text" />
                </Control>
                <Control Id="StatusLabel" Type="Text" X="20" Y="140" Width="50" Height="10" Text="Status:" />
                <Control Id="ProgressBar" Type="ProgressBar" X="20" Y="155" Width="330" Height="10" ProgressBlocks="yes" Text="Progress done">
                    <Subscribe Event="SetProgress" Attribute="Progress" />
                </Control>

                <Control Id="Cancel" Type="PushButton" X="85" Y="190" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

            </Dialog>


            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="UserExit" />
            <DialogRef Id="ErrorDlg" />

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <InstallUISequence>
                <Show Dialog="FSStarterDlg" Before="FSProgressDlg">1</Show>
                <Show Dialog="FSProgressDlg" Before="ExecuteAction">1</Show>
            </InstallUISequence>

            <Property Id="ARPNOMODIFY" Value="1" />

        </UI>

        <UIRef Id="WixUI_Common" />

    </Fragment>
</Wix>