<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Include.wxi ?>

    <Fragment Id="WixSubUI">

        <Binary Id="FSBannerBitmap" SourceFile="Banner.bmp" />

        <Binary Id="InstallBmp" SourceFile="InstallButton.bmp" />
        <Property Id="InstallControlContent">InstallBmp</Property>

        <Binary Id="CancelBmp" SourceFile="CancelButton.bmp" />
        <Property Id="CancelControlContent">CancelBmp</Property>

        <Binary Id="RemoveBmp" SourceFile="RemoveButton.bmp" />
        <Property Id="RemoveControlContent">RemoveBmp</Property>

        <Binary Id="RepairBmp" SourceFile="RepairButton.bmp" />
        <Property Id="RepairControlContent">RepairBmp</Property>

        <Binary Id="OkBmp" SourceFile="OkButton.bmp" />
        <Property Id="OkControlContent">OkBmp</Property>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="DO_LAUNCH_APP" Value="1" />

        <Property Id="ACTION_TEXT_DOING" Value="TO_BE_SET" />
        <Property Id="ACTION_TEXT_DONE" Value="TO_BE_SET" />

        <Property Id="ShortApplicationName" Value="$(var.ShortApplicationName)" />
        <Property Id="FloatingSandboxVersion" Value="$(var.FloatingSandboxVersion)" />

        <!-- Conditional text -->
        <!-- UNUSED!
        <SetProperty Action="SetInstallOrUpgrade0" Id="InstallOrUpgradeLabel" Value="Install" After="FindRelatedProducts">NOT WIX_UPGRADE_DETECTED</SetProperty>
        <SetProperty Action="SetInstallOrUpgrade1" Id="InstallOrUpgradeLabel" Value="Upgrade" After="FindRelatedProducts">WIX_UPGRADE_DETECTED</SetProperty>
        <SetProperty Action="SetInstallingOrUpgrading0" Id="InstallingOrUpgradingLabel" Value="Installing" After="FindRelatedProducts">NOT WIX_UPGRADE_DETECTED</SetProperty>
        <SetProperty Action="SetInstallingOrUpgrading1" Id="InstallingOrUpgradingLabel" Value="Upgrading" After="FindRelatedProducts">WIX_UPGRADE_DETECTED</SetProperty>
        <SetProperty Action="SetInstalledOrUpgraded0" Id="InstalledOrUpgradedLabel" Value="Installed" After="FindRelatedProducts">NOT WIX_UPGRADE_DETECTED</SetProperty>
        <SetProperty Action="SetInstalledOrUpgraded1" Id="InstalledOrUpgradedLabel" Value="Upgraded" After="FindRelatedProducts">WIX_UPGRADE_DETECTED</SetProperty>
        -->

        <UI Id="FloatingSandboxUI">

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <Dialog Id="FSStarterDlg" Width="370" Height="270" Title="[ProductName] Setup" TrackDiskSpace="no">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />

                <Control Id="InstallText" Type="Text" X="106" Y="88" Width="250" Height="17" Hidden="yes" Text="Ready to install [ProductName]!">
                    <Condition Action="show">NOT WIX_UPGRADE_DETECTED AND NOT Installed</Condition>
                </Control>
                <Control Id="UpgradeText" Type="Text" X="98" Y="88" Width="250" Height="17" Hidden="yes" Text="Ready to upgrade to [ProductName]!">
                    <Condition Action="show">WIX_UPGRADE_DETECTED AND NOT Installed</Condition>
                </Control>

                <!-- Install actions -->
                <Control Id="Folder" Type="PathEdit" X="5" Y="105" Width="300" Height="18" Hidden="yes" Property="WIXUI_INSTALLDIR" Indirect="yes">
                    <Condition Action="show">NOT Installed</Condition>
                </Control>
                <Control Id="ChangeFolder" Type="PushButton" X="310" Y="105" Width="56" Height="17" Hidden="yes" Text="&amp;Change...">
                    <Publish Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
                    <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
                    <Condition Action="show">NOT Installed</Condition>
                </Control>

                <Control Id="Install" Type="PushButton" X="85" Y="125" Width="200" Height="77" Hidden="yes" Default="yes" Bitmap="yes" FixedSize="yes" ToolTip="Install/Upgrade" Text="[InstallControlContent]">
                    <Publish Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
                    <Publish Property="ACTION_TEXT_DOING" Value="Installing" Order="2">NOT WIX_UPGRADE_DETECTED</Publish>
                    <Publish Property="ACTION_TEXT_DOING" Value="Upgrading" Order="2">WIX_UPGRADE_DETECTED</Publish>
                    <Publish Property="ACTION_TEXT_DONE" Value="Installed" Order="3">NOT WIX_UPGRADE_DETECTED</Publish>
                    <Publish Property="ACTION_TEXT_DONE" Value="Upgraded" Order="3">WIX_UPGRADE_DETECTED</Publish>
                    <Publish Event="DoAction" Value="WixUIValidatePath" Order="4">1</Publish>
                    <Publish Event="SpawnDialog" Value="InvalidDirDlg" Order="5"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
                    <Publish Event="EndDialog" Value="Return" Order="6">WIXUI_INSTALLDIR_VALID="1"</Publish>
                    <Condition Action="show">NOT Installed</Condition>
                </Control>

                <!-- Admin actions -->
                <Control Id="AdminText" Type="Text" X="55" Y="100" Width="320" Height="20" Hidden="yes" Text="[ProductName] is already installed. What do you want to do?">
                    <Condition Action="show">Installed</Condition>
                </Control>

                <Control Id="RepairButton" Type="PushButton" X="0" Y="125" Width="180" Height="77" Hidden="yes" Bitmap="yes" FixedSize="yes" ToolTip="Repair" Text="[RepairControlContent]">
                    <Publish Property="WixUI_InstallMode" Value="Repair" Order="1">1</Publish>
                    <Publish Property="ACTION_TEXT_DOING" Value="Repairing" Order="2">1</Publish>
                    <Publish Property="ACTION_TEXT_DONE" Value="Repaired" Order="3">1</Publish>
                    <Publish Event="ReinstallMode" Value="amus" Order="4">1</Publish>
                    <Publish Event="Reinstall" Value="All" Order="5">1</Publish>
                    <Publish Event="EndDialog" Value="Return" Order="6">1</Publish>
                    <Condition Action="show">Installed</Condition>
                </Control>

                <Control Id="RemoveButton" Type="PushButton" X="190" Y="125" Width="180" Height="77" Hidden="yes" Bitmap="yes" FixedSize="yes" ToolTip="Remove" Text="[RemoveControlContent]">
                    <Publish Property="WixUI_InstallMode" Value="Remove" Order="1">1</Publish>
                    <Publish Property="ACTION_TEXT_DOING" Value="Removing" Order="2">1</Publish>
                    <Publish Property="ACTION_TEXT_DONE" Value="Removed" Order="3">1</Publish>
                    <Publish Event="Remove" Value="All" Order="4">1</Publish>
                    <Publish Event="EndDialog" Value="Return" Order="5">1</Publish>
                    <Condition Action="show">Installed</Condition>
                </Control>

                <Control Id="Cancel" Type="PushButton" X="85" Y="195" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" ToolTip="Cancel" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="FSProgressDlg" Width="370" Height="270" Title="[ACTION_TEXT_DOING] [ProductName]..." Modeless="yes">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />

                <Control Id="TextInstalling" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Please wait while [ProductName] gets installed...be patient, this might take a few minutes.">
                    <Condition Action="show">NOT Installed AND NOT WIX_UPGRADE_DETECTED</Condition>
                </Control>
                <Control Id="TextUpgrading" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Please wait while [ShortApplicationName] gets upgraded to version [FloatingSandboxVersion]...be patient, this might take a few minutes.">
                    <Condition Action="show">NOT Installed AND WIX_UPGRADE_DETECTED</Condition>
                </Control>

                <Control Id="TextRepairing" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Please wait while [ProductName] is repaired...">
                    <Condition Action="show">WixUI_InstallMode = "Repair"</Condition>
                </Control>

                <Control Id="TextRemoving" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Please wait while [ProductName] is uninstalled...">
                    <Condition Action="show">WixUI_InstallMode = "Remove"</Condition>
                </Control>

                <Control Id="StatusLabel" Type="Text" X="20" Y="140" Width="50" Height="10" Text="Status:" />
                <Control Id="ActionText" Type="Text" X="70" Y="140" Width="285" Height="10" Text="Initializing...">
                    <Subscribe Event="ActionText" Attribute="Text" />
                </Control>
                <Control Id="ProgressBar" Type="ProgressBar" X="20" Y="155" Width="330" Height="10" ProgressBlocks="yes" Text="Progress done">
                    <Subscribe Event="SetProgress" Attribute="Progress" />
                </Control>

                <Control Id="Cancel" Type="PushButton" X="85" Y="180" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" ToolTip="Cancel" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="FSCompletedDlg" Width="370" Height="270" Title="[ProductName] Successfully [ACTION_TEXT_DONE]!">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />

                <Control Id="CompletedText_Installed" Type="Text" X="75" Y="120" Width="320" Height="10" Hidden="yes" Text="[ProductName] has been successfully installed!">
                    <Condition Action="show">NOT Installed and NOT WIX_UPGRADE_DETECTED</Condition>
                </Control>
                <Control Id="CompletedText_Upgraded" Type="Text" X="70" Y="120" Width="320" Height="10" Hidden="yes" Text="[ShortApplicationName] has been successfully upgraded to version [FloatingSandboxVersion]!">
                    <Condition Action="show">NOT Installed and WIX_UPGRADE_DETECTED</Condition>
                </Control>

                <Control Id="CompletedText_Repaired" Type="Text" X="75" Y="120" Width="320" Height="10" Hidden="yes" Text="[ProductName] has been successfully repaired!">
                    <Condition Action="show">Installed AND (WixUI_InstallMode = "Repair")</Condition>
                </Control>

                <Control Id="CompletedText_Removed" Type="Text" X="75" Y="120" Width="320" Height="10" Hidden="yes" Text="[ProductName] has been successfully removed!">
                    <Condition Action="show">Installed AND (WixUI_InstallMode = "Remove")</Condition>
                </Control>

                <Control Id="Finish" Type="PushButton" X="85" Y="165" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" ToolTip="Close" Text="[OkControlContent]">
                    <Publish Event="EndDialog" Value="Return" Order="999">1</Publish>
                    <Publish Event="DoAction" Value="LaunchApp">(DO_LAUNCH_APP = 1) AND (NOT Installed)</Publish>
                    <Condition Action="enable">1</Condition> <!-- See http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Bug-causing-ICE-17-failure-td4050724.html -->
                </Control>

                <Control Id="LaunchAppCheckBox" Type="CheckBox" X="145" Y="246" Width="220" Height="10" Hidden="yes" Property="DO_LAUNCH_APP" CheckBoxValue="1" Text="Let me play now!">
                    <Condition Action="show">NOT Installed</Condition>
                </Control>
            </Dialog>

            <Dialog Id="FSUserExit" Width="370" Height="270" Title="[ProductName] Aborted">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="InterruptedText" Type="Text" X="20" Y="117" Width="320" Height="40" Hidden="no" Text="[ProductName] setup was interrupted. Your system has not been modified. To install, repair, or uninstall [ProductName] at a later time, please run this installation again." />
                <Control Id="Finish" Type="PushButton" X="85" Y="165" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" ToolTip="Exit" Text="[OkControlContent]">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                    <Condition Action="enable">1</Condition>
                    <!-- See http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Bug-causing-ICE-17-failure-td4050724.html -->
                </Control>
            </Dialog>

            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="InvalidDirDlg" />

            <InstallUISequence>
                <Show Dialog="FSStarterDlg" Before="FSProgressDlg">1</Show>
                <Show Dialog="FSProgressDlg" Before="ExecuteAction">1</Show>
                <Show Dialog="FSCompletedDlg" OnExit="success">1</Show>
                <Show Dialog="FSUserExit" OnExit="cancel">1</Show>
            </InstallUISequence>

            <AdminUISequence>
                <Show Dialog="FSStarterDlg" Before="FSProgressDlg">1</Show>
                <Show Dialog="FSProgressDlg" Before="ExecuteAction">1</Show>
                <Show Dialog="FSCompletedDlg" OnExit="success">1</Show>
                <Show Dialog="FSUserExit" OnExit="cancel">1</Show>
            </AdminUISequence>

            <Property Id="ARPNOMODIFY" Value="1" />

        </UI>

        <UIRef Id="WixUI_Common" />

        <CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" ExeCommand="[#FloatingSandboxExe]" Return="asyncNoWait" />

    </Fragment>
</Wix>