<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Include.wxi ?>

    <Fragment Id="WixSubUI">

        <Binary Id="FSBannerBitmap" SourceFile="Banner.bmp" />

        <Binary Id="InstallBmp" SourceFile="InstallButton.bmp" />
        <Property Id="InstallControlContent">InstallBmp</Property>

        <Binary Id="CancelBmp" SourceFile="CancelButton.bmp" />
        <Property Id="CancelControlContent">CancelBmp</Property>

        <Binary Id="OkBmp" SourceFile="OkButton.bmp" />
        <Property Id="OkControlContent">OkBmp</Property>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="DO_LAUNCH_APP" Value="1" />

        <UI Id="FloatingSandboxUI">

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <Dialog Id="FSStarterDlg" Width="370" Height="270" Title="Ready to Install [ProductName]!" TrackDiskSpace="no">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="Folder" Type="PathEdit" X="5" Y="95" Width="300" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes" />
                <Control Id="ChangeFolder" Type="PushButton" X="310" Y="95" Width="56" Height="17" Text="&amp;Change...">
                    <Publish Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
                    <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
                </Control>
                <!--
                <Control Id="InstallText" Type="Text" X="75" Y="110" Width="320" Height="10" Hidden="no" Text="Are you ready to go?" />
                -->
                <Control Id="Install" Type="PushButton" X="85" Y="125" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" Text="[InstallControlContent]">
                    <Publish Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
                    <Publish Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
                    <Publish Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
                    <Publish Event="EndDialog" Value="Return" Order="4">WIXUI_INSTALLDIR_VALID="1"</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="85" Y="195" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="FSProgressDlg" Width="370" Height="270" Title="Installing [ProductName]..." Modeless="yes">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="TextInstalling" Type="Text" X="20" Y="105" Width="330" Height="35" Hidden="no" NoPrefix="yes" Text="Please wait while [ProductName] gets installed..." />
                <Control Id="ActionText" Type="Text" X="70" Y="140" Width="285" Height="10">
                    <Subscribe Event="ActionText" Attribute="Text" />
                </Control>
                <Control Id="StatusLabel" Type="Text" X="20" Y="140" Width="50" Height="10" Text="Status:" />
                <Control Id="ProgressBar" Type="ProgressBar" X="20" Y="155" Width="330" Height="10" ProgressBlocks="yes" Text="Progress done">
                    <Subscribe Event="SetProgress" Attribute="Progress" />
                </Control>
                <Control Id="Cancel" Type="PushButton" X="85" Y="180" Width="200" Height="77" Cancel="yes" Bitmap="yes" FixedSize="yes" Text="[CancelControlContent]">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="FSCompletedDlg" Width="370" Height="270" Title="[ProductName] Successfully Installed!">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="CompletedText" Type="Text" X="75" Y="120" Width="320" Height="10" Hidden="no" Text="[ProductName] has been successfully installed!" />
                <Control Id="Finish" Type="PushButton" X="85" Y="165" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" Text="[OkControlContent]">
                    <Publish Event="EndDialog" Value="Return" Order="999">1</Publish>
                    <Publish Event="DoAction" Value="LaunchApp">(DO_LAUNCH_APP = 1) AND (NOT Installed)</Publish>
                    <Condition Action="enable">1</Condition> <!-- See http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Bug-causing-ICE-17-failure-td4050724.html -->
                </Control>
                <Control Id="LaunchAppCheckBox" Type="CheckBox" X="145" Y="246" Width="220" Height="10" Hidden="no" Property="DO_LAUNCH_APP" CheckBoxValue="1" Text="Let me play now!" />
            </Dialog>

            <Dialog Id="FSAlreadyInstalledDlg" Width="370" Height="270" Title="[ProductName] Already Installed">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="AlreadyInstalledText" Type="Text" X="25" Y="120" Width="320" Height="10" Hidden="no" Text="[ProductName] is already installed on this computer; nothing to do here." />
                <Control Id="Finish" Type="PushButton" X="85" Y="165" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" Text="[OkControlContent]">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                    <Condition Action="enable">1</Condition>
                    <!-- See http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Bug-causing-ICE-17-failure-td4050724.html -->
                </Control>
            </Dialog>

            <Dialog Id="FSUserExit" Width="370" Height="270" Title="[ProductName] Not Installed">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="80" TabSkip="no" FixedSize="yes" Text="FSBannerBitmap" />
                <Control Id="InterruptedText" Type="Text" X="20" Y="117" Width="320" Height="20" Hidden="no" Text="[ProductName] setup was interrupted. Your system has not been modified. To install [ProductName] at a later time, please run this installation again." />
                <Control Id="Finish" Type="PushButton" X="85" Y="165" Width="200" Height="77" Default="yes" Bitmap="yes" FixedSize="yes" Text="[OkControlContent]">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                    <Condition Action="enable">1</Condition>
                    <!-- See http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Bug-causing-ICE-17-failure-td4050724.html -->
                </Control>
            </Dialog>

            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="InvalidDirDlg" />

            <InstallUISequence>
                <Show Dialog="FSStarterDlg" Before="FSProgressDlg">NOT Installed</Show>
                <Show Dialog="FSAlreadyInstalledDlg" Before="FSProgressDlg">Installed</Show>
                <Show Dialog="FSProgressDlg" Before="ExecuteAction">1</Show>
                <Show Dialog="FSCompletedDlg" OnExit="success">1</Show>
                <Show Dialog="FSUserExit" OnExit="cancel">NOT Installed</Show>
            </InstallUISequence>

            <AdminUISequence>
                <Show Dialog="FSCompletedDlg" OnExit="success">1</Show>
                <Show Dialog="FSUserExit" OnExit="cancel">1</Show>
            </AdminUISequence>

            <Property Id="ARPNOMODIFY" Value="1" />

        </UI>

        <UIRef Id="WixUI_Common" />

        <CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" ExeCommand="[#FloatingSandboxExe]" Return="asyncNoWait" />

    </Fragment>
</Wix>